<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactUs</title>
    <link rel="stylesheet" href="CssOrderOnline.css">
</head>
<body>
    <nav class="nav">
        <div>
            <a href="#">
                <img class="icon" src="../static/pizza.png">
            </a>
        </div>
        <ul class="nav-list">
            <li class="list-item">
                <a href="file:///C:/Users/hagarhalber/Desktop/web/Hagar-Halber-315973461/templates/AboutUs.html">About Us</a>
            </li>
            <li class="list-item">
                <a href="file:///C:/Users/hagarhalber/Desktop/web/Hagar-Halber-315973461/templates/HomePage.html">Home Page</a>
            </li>
            <li class="list-item">
                <a href="file:///C:/Users/hagarhalber/Desktop/web/Hagar-Halber-315973461/templates/ContactUs.html">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="text">
        <h1 class="inText">Contact Us</h1><BR></BR>
        <p id="par">Whatever your comments are, we want to hear from you. Just fill out the feedback form below and we’ll respond as soon as possible.
            Giving the best support to you is our priority. We know you're a real person with real questions. Just let us know what you need.
        </p><br>
        <h1 id="ContactRes">How can we help you today?</h1><br>
        <form action="URL" id="contact">
              <label for="contactreason"></label>
              <select id="contactreason" name="contactreason">
              <option value="sales">Sales</option>
              <option value="help">Help</option>
              <option value="billing">Billing</option>
             </select><br><br>
            <div id="details">
                <label for="FullName">Full Name</label><br>
                <input type="text" id="FullName" name="FullName" required>
                <label for="Email">Email</label>
                <input type="email" id="Email" name="Email" required>
            </div><br><br>
            <div>
                <label for="date">Date of contadting</label><br>
                <input type="date" id="date" name="date" required>
                <label for="phone number">Phone Number</label>
                <input type="tel" id="phone number" name="phone number" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
            </div><br>
            
            <div id="input">
                <input type="submit"><br>
            </div>
        </form>
    </div>
     <footer class="footer">
        <nav class="navFooter">
            <div>
                <a href="#">
                    <img class="facebookicon" src="../static/facebook.png">
                </a>
            </div>

            <ul class="nav-list">
                <li class="list-item">
                    <a href="#">Locations & Hours</a>
                </li>
                <li class="list-item">
                    <a href="#">Social With Us</a>
                </li>
                <li class="list-item">
                    <a href="#">Menu</a>
                </li>
            </ul>
        </nav>
        <p id="Copyright"> © 2019 by The Hagar's Pizza Shop. Beer-Sheva Israel</p>
    </footer>
</body>
</html>