<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="AllPages.css">
    <script defer src="AllPagesJS.js"></script>
</head>
<body id="HomePageBody" onload="typing()" onload="changeImage()">
    <nav class="nav">
        <div>
            <header id="header"></header>
            <img class="icon" src="../static/pizza.png">
        </div>
        <ul class="nav-list">
            <li class="list-item">
                <a class="headnav" href="AboutUs.html">About Us</a>
            </li>
            <li class="list-item">
                <a class="headnav" href="HomePage.html">Home Page</a>
            </li>
            <li class="list-item">
                <a class="headnav" href="ContactUs.html">Contact</a>
            </li>
        </ul>
    </nav>
    <div id="main">
    <div class="welcome">
        <p class="par">Welcome to Hagar's Pizza a world of wonderful flavors</p>
    </div>
    <div class="orderButton">
        <form method="get" action="URL">
            <button class="Button" type="button">ORDER ONLINE</button>
            <button class="ButtonSmall" type="button">ORDER ONLINE</button>
        </form>
    </div>
    </div>
    <footer class="footer" style="position: relative; top: 600px;">
        <nav class="navFooter">
            <div>
                <a href="#">
                    <img class="facebookicon" src="../static/facebook.png">
                </a>
            </div>
            <ul class="nav-list">
                <li class="list-item">
                    <a href="AboutUs.html">About Us</a>
                </li>
                <li class="list-item">
                    <a href="HomePage.html" >Home Page</a>
                </li>
                <li class="list-item" >
                    <a href="ContactUs.html" >Contact</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>