<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="CSSnav1.css">
</head>
<body>
    <nav class="nav">
        <div>
            <a href="#">
                <img class="icon" src="../static/pizza.png">
            </a>
        </div>
        <ul class="nav-list">
            <li class="list-item">
                <a href="file:///C:/Users/hagarhalber/Desktop/web/Hagar-Halber-315973461/templates/AboutUs.html">About Us</a>
            </li>
            <li class="list-item">
                <a href="file:///C:/Users/hagarhalber/Desktop/web/Hagar-Halber-315973461/templates/HomePage.html">Home Page</a>
            </li>
            <li class="list-item">
                <a href="file:///C:/Users/hagarhalber/Desktop/web/Hagar-Halber-315973461/templates/ContactUs.html">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="welcome">
        <p class="par">world of wonderful flavors</p>
    </div>
    <div class="orderButton">
        <a href="#">
            <button class="Button">ORDER ONLINE</button>
        </a> 
    </div>
    <footer class="footer">
        <nav class="navFooter">
            <div>
                <a href="#">
                    <img class="facebookicon" src="../static/">
                </a>
            </div>

            <ul class="nav-list">
                <li class="list-item">
                    <a href="#">Locations & Hours</a>
                </li>
                <li class="list-item">
                    <a href="#">Social With Us</a>
                </li>
                <li class="list-item">
                    <a href="#">Menu</a>
                </li>
            </ul>
        </nav>
        <p id="Copyright"> © 2019 by The Hagar's Pizza Shop. Beer-Sheva Israel</p>
    </footer>
</body>
</html>